Repository HWeber-tech/emp_proving_ground_v1: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, guard-no-tool-mypy-in-pyproject

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.0
    hooks:
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile=black"]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (changed files)
        entry: mypy
        language: system
        types: [python]
        pass_filenames: true
        args: ["--config-file", "mypy.ini"]
      - id: guard-no-tool-mypy-in-pyproject
        name: "Guard: disallow [tool.mypy] in pyproject.toml"
        entry: bash -c 'if grep -n "^\[tool\.mypy\]" pyproject.toml >/dev/null; then echo "[tool.mypy] detected in pyproject.toml; use mypy.ini"; exit 1; fi'
        language: system
        pass_filenames: false
        files: ^pyproject\.toml$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

ci(static-analysis): run import-linter via python module in workflow
  .github/workflows/static-analysis.yml
Due: none

ci(static-analysis): drop redundant mypy file targets
  .github/workflows/static-analysis.yml
Due: none

style(imports): reorder typing imports and trim whitespace
  src/data_foundation/config/vol_config.py
  src/data_foundation/ingest/fred_calendar.py
Due: mypy

style(imports): reorder stdlib imports in vol_config
  src/data_foundation/config/vol_config.py
Due: mypy

kilocode-ci-bridge
  .github/workflows/kilocode-ci-bridge.yml
Due: none

Update README.md
  README.md
Due: none

chore: add branch protection enforcement workflow and docs
  .github/workflows/ci.yaml
  .github/workflows/enforce-branch-protection.yml
  docs/development/prs/branch-protection.md
Due: none

ci(workflows): streamline ci workflow and pre-commit config
  .github/actions/python-setup/action.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Ci/streamline 2025 09 (#27)
  .github/actions/python-setup/action.yml
  .github/workflows/ci.yaml
  .github/workflows/ci.yml
  .github/workflows/enforce-branch-protection.yml
  .pre-commit-config.yaml
  docs/development/prs/branch-protection.md
Due: none

CI hygiene
  .github/actions/python-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/enforce-branch-protection.yml
  .github/workflows/import-hygiene.yml
  .github/workflows/kilocode-ci-bridge.yml
  .github/workflows/policy-openapi-block.yml
  .github/workflows/static-analysis.yml
  .github/workflows/typing-nightly.yml
  .github/workflows/typing.yml
  .pre-commit-config.yaml
  src/data_foundation/config/vol_config.py
Due: mypy

Refactor CI workflows to include checkout step in all jobs and remove redundant checkout from python-setup action. This enhances clarity and ensures consistency across the CI process.
  .github/actions/python-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/typing-nightly.yml
Due: none

Force commit with ours
  .github/actions/python-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/typing-nightly.yml
  .gitignore
  .pre-commit-config.yaml
  list.md
  pyproject.toml
  requirements/dev.txt
Due: guard-no-tool-mypy-in-pyproject

CI: resolve merge markers; install runtime+dev deps; scope lint to src/tests; keep typing/policy intact
  .github/actions/python-setup/action.yml
  .github/workflows/ci.yml
Due: none

CI: scope Black/isort to src/tests to avoid irrelevant paths
  .github/workflows/ci.yml
Due: none

CI: add heartbeat step to ensure workflow triggers on PR
  .github/workflows/ci.yml
Due: none

CI: drop Black/isort gates to keep CI green; rely on Ruff lint and keep mypy/tests
  .github/workflows/ci.yml
Due: none

CI: remove ruff format --check to focus on lint/types/tests; avoid blocking on formatting drift
  .github/workflows/ci.yml
Due: none

types: fix pandas concat/types in _calculate_atr for mypy; keep return typed Series
  src/sensory/organs/dimensions/institutional_tracker.py
Due: mypy

Remove kilocode CI bridge and add modernization roadmap
  .github/workflows/kilocode-ci-bridge.yml
  docs/roadmap.md
Due: none

Add files via upload
  EMP_ENCYCLOPEDIA_v2.3_CANONICAL.md
Due: none

Remove kilocode CI bridge and add modernization roadmap (#32)
  .github/workflows/kilocode-ci-bridge.yml
  docs/roadmap.md
Due: none

Update roadmap.md
  docs/roadmap.md
Due: none

Delete docs/ROADMAP.md
  docs/ROADMAP.md
Due: none

Refresh roadmap with way forward plan
  .github/workflows/ci.yml
  .gitignore
  config/formatter/ruff_format_allowlist.txt
  docs/development/formatter_rollout.md
  docs/operations/observability_plan.md
  docs/reports/dead_code_audit.md
  docs/roadmap.md
  docs/status/ci_health.md
  src/data_foundation/ingest/yahoo_ingest.py
  src/data_foundation/persist/jsonl_writer.py
  src/intelligence/portfolio_evolution.py
  tests/.telemetry/flake_runs.json
  tests/current/test_orchestration_runtime_smoke.py
  tests/current/test_parity_checker.py
Due: mypy

Refresh roadmap with way forward plan (#37)
  .github/workflows/ci.yml
  .gitignore
  config/formatter/ruff_format_allowlist.txt
  docs/development/formatter_rollout.md
  docs/operations/observability_plan.md
  docs/reports/dead_code_audit.md
  docs/roadmap.md
  docs/status/ci_health.md
  src/data_foundation/ingest/yahoo_ingest.py
  src/data_foundation/persist/jsonl_writer.py
  src/intelligence/portfolio_evolution.py
  tests/.telemetry/flake_runs.json
  tests/current/test_orchestration_runtime_smoke.py
  tests/current/test_parity_checker.py
Due: mypy

Advance Phase 6 formatting and Phase 7 regression coverage
  config/formatter/ruff_format_allowlist.txt
  docs/development/formatter_rollout.md
  docs/roadmap.md
  docs/status/ci_health.md
  docs/status/formatter_stage4_briefing.md
  docs/status/regression_backlog.md
  requirements/dev.txt
  src/data_foundation/replay/multidim_replayer.py
  src/risk/risk_manager_impl.py
  src/trading/execution/execution_engine.py
  tests/current/test_execution_engine.py
  tests/current/test_order_model_properties.py
  tests/current/test_risk_manager_impl.py
Due: mypy

Advance Phase 6 formatting and Phase 7 regression coverage (#38)
  config/formatter/ruff_format_allowlist.txt
  docs/development/formatter_rollout.md
  docs/roadmap.md
  docs/status/ci_health.md
  docs/status/formatter_stage4_briefing.md
  docs/status/regression_backlog.md
  requirements/dev.txt
  src/data_foundation/replay/multidim_replayer.py
  src/risk/risk_manager_impl.py
  src/trading/execution/execution_engine.py
  tests/current/test_execution_engine.py
  tests/current/test_order_model_properties.py
  tests/current/test_risk_manager_impl.py
Due: mypy

Enroll operational and performance slices in formatter
  config/formatter/ruff_format_allowlist.txt
  docs/development/formatter_rollout.md
  docs/roadmap.md
  docs/status/ci_health.md
  docs/status/formatter_stage4_briefing.md
  src/data_integration/dukascopy_ingestor.py
  src/operational/fix_connection_manager.py
  src/operational/icmarkets_robust_application.py
  src/operational/md_capture.py
  src/operational/metrics.py
  src/operational/metrics_registry.py
  src/operational/mock_fix.py
  src/operational/state_store.py
  src/performance/__init__.py
Due: mypy

Enroll operational and performance slices in formatter (#39)
  config/formatter/ruff_format_allowlist.txt
  docs/development/formatter_rollout.md
  docs/roadmap.md
  docs/status/ci_health.md
  docs/status/formatter_stage4_briefing.md
  src/data_integration/dukascopy_ingestor.py
  src/operational/fix_connection_manager.py
  src/operational/icmarkets_robust_application.py
  src/operational/md_capture.py
  src/operational/metrics.py
  src/operational/metrics_registry.py
  src/operational/mock_fix.py
  src/operational/state_store.py
  src/performance/__init__.py
Due: mypy

Refresh 30-day outcomes in modernization roadmap
  docs/roadmap.md
Due: none

Refresh 30-day outcomes in modernization roadmap (#40)
  docs/roadmap.md
Due: none
